@use '@scss/_colors';
@use '@scss/_breakpoints';

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: colors.$grey-10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media screen and (min-width: breakpoints.$lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__end-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
