@use '@scss/_breakpoints';

.site-layout {
  margin-top: 80px;
  min-height: calc(100vh - 80px);

  @media screen and (min-width: breakpoints.$lg) {
    margin-left: 200px;
  }
}

.content {
  max-width: breakpoints.$xxl;
  padding: 16px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
